*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:linear-gradient(135deg,#6a11cb,#2575fc);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:30px;
width:400px;
border-radius:15px;
box-shadow:0px 10px 25px rgba(0,0,0,0.3);
}

h2{
text-align:center;
margin-bottom:20px;
color:#2575fc;
}

label{
font-weight:bold;
display:block;
margin-top:12px;
}

input,select{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:8px;
font-size:15px;
}

.checkbox{
margin-top:15px;
}

.checkbox input{
width:auto;
}

button{
width:48%;
padding:12px;
margin-top:20px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:15px;
background:#2575fc;
color:white;
}

button:hover{
background:#0d47a1;
}

.reset{
background:#757575;
}

.reset:hover{
background:#424242;
}

#msg{
margin-top:15px;
text-align:center;
color:red;
font-weight:bold;
}

#total{
margin-top:20px;
text-align:center;
color:green;
}